<section class="content-header">
    <h1>分页</h1>
</section>


<section class="content" ng-init="uploadPageInit()">
    <div class="mailbox-controls paginator-wapper">
        <div class="row">
            <div class="col-lg-8">
                <div class="col-xs-9 pull-right">
                    <ul id="pagintor" class="pagination pull-right">
                    </ul>
                </div>
                <div class="col-xs-3 record-num pull-left">
                    从
                    <h1>{{startCounts}}</h1> 到
                    <h2>{{endCounts}}</h2> 条，共
                    <h3>{{counts}}</h3> 条记录
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 30px">
        <div class="col-xs-2">
            <div class="button" ngf-select ng-model="file" name="file">
                上传文件
            </div><span>{{fileInfo.name}}</span>

            <div style="margin-top: 20px">
                <button type="submit" ng-click="submit()">submit</button>
            </div>

        </div>


    </div>

</section>